body {
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20;
  line-height: 150%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 37;
  line-height: 200%;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color:rgb(93, 141, 9);
  font-weight: bold;
  font-size: 20;
  line-height: 200%;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color:rgb(5, 114, 51);
  font-weight: bold;
  font-size: 20;
}

a {
  font-family: 'Poppins', sans-serif;
  color:rgb(114, 5, 29);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #3B3486;
}

#disco {
  color:rgb(165, 170, 116);
}

#disco:hover {
  color: #3B3486;
}

#caption-text {
  font-size: 13;
}

#oval_pic {
  border-radius: 50%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.text-center {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.white-card {
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-top: 10px;
  margin: 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
  border: 2px dotted rgb(114, 5, 29);
  border-radius: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .text-center {
    width: 500px;
    height: 900px;
  }
}

@media (max-width: 720px) {
  .text-center {
    width: 400px;
    height: 680px;
  }
}

@media (max-width: 540px) {
  .text-center {
    width: 300px;
    height: 500px;
  }
}
